<?xml version="1.0"?>
<!--
/**
 * @category    Smartautobrains
 * @package     TestTask
 * @author      P.Kushnerevich <pkushnerevich@smartautobrains.com>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @copyright   Copyright (c) 2022 Smartautobrains (https://smartautobrains.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="plp-data-attribute" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Smartautobrains\TestTask\Ui\DataProvider\Product\Form\Modifier\PlpData
                    </item>
                    <item name="sortOrder" xsi:type="number">2000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
